body{
    font-family: 'Oxygen', sans-serif;;
}

.clr{
    color: orange;
}

.buttons{
    text-decoration: none;
    background-image: linear-gradient(to left, red, yellow);
    padding: 10px 20px;
    color; white;
    font-weight: 1000;
    border-radius: 30px;
}

section{
    display: flex;
}

.half-width{
    width: 50%;
}